/* pages/process/index.wxss */
.table{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: table;

  .header{
    text-align: center;
      position: sticky;
      top: 0;right: 0;left: 0;
      height: 65rpx;
      color: white;
      background-color: #192a56;
    }
  .body{
    text-align: center;
    .row{
       
    }
  }
  // .table_ul{
  //   padding: 0 10rpx;
  //     display: table-row;
  //     .table_li{
  //       display: table-cell; 
  //     }
  //     &:nth-child(odd):not(:first-child){
  //       border-top: 1px solid #bdc3c7;
  //       background-color: rgba(0, 0, 0,.1);
  //     }
  //   }
}