/* components/Card/Card.wxss */
.comp_card {
  margin: 25rpx;
  background-color: #f5f6fa;
  border-radius: 10rpx;
  padding : 20rpx;
  min-height: 50rpx;
  box-shadow: 0 5rpx 5rpx grey;
  .comp_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #33345f;
    font-weight: bold;
    font-size: medium;
    padding-bottom: 10rpx;
    border-bottom: 2rpx solid #192a56;
    .comp_more{
      color: black;
      font-size: small; 
    }
  }
}