@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1853042_1f51wd412l2.eot?t=1590838914538'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1853042_1f51wd412l2.eot?t=1590838914538#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABnAAAAJ0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gRMBNgIkAwgLBgAEIAWEbQcwG7kFyB6SJEUpEUIcDqrHigghgmote/b2PwgKUSJqQEWgonwiDRmd8mzEHc3pDYDcj6gkq0akWpaBT5ompe+P2bGqUAPyKAuO1FhPAiVERIYCh9MuUJTdgZTLOYfOu3wuYGBpgOc9iqxMEm8Yu+AFHidQr0+bpN2+ERNkyuxxgXiSRAYyC15ZZolaodqwNEO8qKhNmykMPEffj3+6yARJpQC75OCxl4eOryYnpVgoF5wHBD4CWl1BgRkgEyeN0T0pgtFS1HOnGgKyHPhqKktsEUc1CvbX2fmNoAeKnknsSR41P4GcdI8Ci5NuIDVWTUejpljMnEhY43G7aW/rYLHCmhvQD3PyLNO2y8z7pfuotuM69e8/9dXhQ8U1lWZb2CKBK7Nwp7M7b1lH7UdZb/EvmAs5DVyKV0EHQPlR3BcdkIRgsCk3eFWw+lHbkArw+S0uEXf5kWGYHdTu3Rb8JfHApmxIbXPKmrjRnoxOGptQrx4l7Gz3OFXXdUvJUKvrxuw1ejMUao0QM3UGFQ1mUVVrA/Wm9a9u0IFIETkLmLIKEFqdIWn2jkKrCDFTH1DR7R1VrZGCemfRsWWDsZCydwhmKOYRO4kkzuMWXCvNjgsNWBxVGJKXRgwLJn4pgLQqTTnRj92YLDHDPybqKBWQQDwu1AdOw4riQV7icWKOqhyUevVqtdD0JhXncUG2HQTGoDAewpqESDgebkLQmcqufN4AE41SMEhHWZ3XAiP8pN4RLRXNAGK/yj2o7FFe8Rsj0qEoASIgPFyQPjAIUyg8EG/zICeMQ6k4JoS99NROO2GoSrW9xvUDhawKW5/C6ZcC1XvsFpVRAAA=') format('woff2'),
  url('//at.alicdn.com/t/font_1853042_1f51wd412l2.woff?t=1590838914538') format('woff'),
  url('//at.alicdn.com/t/font_1853042_1f51wd412l2.ttf?t=1590838914538') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1853042_1f51wd412l2.svg?t=1590838914538#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu:before {
  content: "\e628";
}
